<div>
  <span>
    <label style="margin-right: 20px;">Day</label>
    <input type="number" [attr.id]="historicalDateDayOfMonthId" name="dayOfMonth"  /> <!-- formControlName="dayOfMonth" class="form-control" -->
    <label style="margin-left: 20px; margin-right: 20px;">Month</label>
    <input type="number" [attr.id]="historicalDateMonthId" name="month"  /> <!-- formControlName="month" class="form-control" -->
    <label style="margin-left: 20px; margin-right: 20px;">Year</label>
    <input type="number" [attr.id]="historicalDateYearId" name="year"  /> <!-- formControlName="year" class="form-control" -->
  </span>
</div>
